*{
padding:0;
margin:0;
box-sizing:border-box;
}

body{
font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
background-color:rgb(225,228,233);
}


nav{
width:100%;
position:fixed;
top:0;
background:#7493e1;
z-index:99;
}

.nav_content{
display:flex;
justify-content:space-between;
align-items:center;
padding:1rem;
}

.logo a{
font-size:22px;
font-weight:600;
color:black;
text-decoration:none;
}

ul{
display:flex;
list-style:none;
gap:20px;
}

ul li a{
text-decoration:none;
font-weight:600;
color:black;
}

ul li a:hover{
color:#4b64e4;
}



.education{
margin-top:120px;
padding:40px;
}

.title{
text-align:center;
font-size:32px;
margin-bottom:40px;
}


.timeline{
width:60%;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}


.timeline-box{
display:flex;
align-items:center;
gap:20px;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:.4s;
opacity:0;
transform:translateY(40px);
animation:fadeUp .6s ease forwards;
}

.timeline-box:nth-child(1){animation-delay:.1s;}
.timeline-box:nth-child(2){animation-delay:.2s;}
.timeline-box:nth-child(3){animation-delay:.3s;}
.timeline-box:nth-child(4){animation-delay:.4s;}
.timeline-box:nth-child(5){animation-delay:.5s;}
.timeline-box:nth-child(6){animation-delay:.6s;}

.timeline-box:hover{
transform:translateY(-8px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}


.icon{
font-size:30px;
background:#5d86da;
color:white;
width:60px;
height:60px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
}


.text h2{
color:#4b64e4;
margin-bottom:5px;
}

.text span{
font-weight:bold;
color:#555;
}



.highlight{
background:#5d86da;
color:white;
text-align:center;
display:block;
}



@keyframes fadeUp{
to{
opacity:1;
transform:translateY(0);
}
}


.footer-container{
position:fixed;
bottom:0;
width:100%;
height:60px;
background:#4b64e4;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
}

.education{
min-height: calc(100vh - 120px);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
padding:20px;
}

body{
font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
background-color:rgb(225,228,233);
min-height:100vh;
display:flex;
flex-direction:column;
}

.education{
margin-top:120px;
padding:40px;
padding-bottom:120px; 
}